
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<title>LOGIN</title>


<div class="container">
    <div class="shadow row d-flex justify-content-center align-items-center mx-auto my-5  rounded-3">
<div class="my-5 d-flex justify-content-center" style="height: 70vh;">
    <div class="row container align-items-center m-0">
        <div class="col-12 col-md-7 order-2 order-md-1 text-center">
            <form method="post" class="custom-form" style=" width: 80%; margin: auto;">
                <h1>Login</h1>
            
                {% csrf_token %}
            
                <!-- {% crispy form %} -->
                {{form | crispy}}
                <button class="btn btn-warning mb-3">Submit</button>
            </form>
  
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex order-1 order-md-2 justify-content-center">
            <img src="/static/login.jpg" class="w-100" alt="Answer Picture">
        </div>
    </div>
  </div>
</div>
</div>
{% endblock %}