{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<title>CATAGORY</title>


  <div class="d-flex flex-wrap px-5 pt-3 align-items-center justify-content-center">
    <div class="col-12 col-md-6 order-2 order-md-1" style="height: 100vh;">
      <div class="card p-4">
          <form method="POST" novalidate >
            <h2 class="text-center mb-4">CREATE CATAGORY</h2>

    {% csrf_token %} 
    <!-- {% crispy form %} -->
    {{form | crispy}}
    <button type="submit" class="btn btn-primary btn-block">Create Catagory</button>


          </form>
      </div>
  </div>
    </div>
{% endblock %}